@font-face {
    font-family:'raleway';
    src: url();
}
*{
    box-sizing: border-box;
}
*::after,*::before{
    box-sizing: inherit;
}
.container{
    width: 90%;
    max-width:1100px;
    margin: 0 auto;
}
.logo{
 padding-top: 3rem;

}
.titles{
    background-color: black;
    padding: 15px 0px;
    margin: 3rem 0;
    text-transform: uppercase;
    
}
.titles .container a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    text-align: center;
}
.titles .container a:hover{
    background-color: rgb(228, 233, 80,.747);
}
h1{
    font-family: 'raleway';
    text-align: center;
    font-weight: 900;
    font-size: 70px;
    text-shadow:2px 5px   rgb(228, 233, 80,.747)  ;
}
 .img1{
    max-width:100%;
}
.main-text p{
    text-align: justify;
}
blockquote{
    font-size: 1.4rem;
}
.info-extra{
    background-color: rgb(228, 233, 80) ;
    text-align: center;
    justify-content: center;
    font-family: 'raleway';
    
}
.info-extra p{
    /* margin-bottom:1rem; */
    color: rgb(82, 80, 80);
    font-size:1.4rem;
    padding: .7rem;
    /* margin: 0 0 1rem 0; */
    width: auto;
}
.miniimg1,.miniimg2{
    text-align: center;
}
.entry{
    text-align: justify;
}
blockquote{
    font-size: 1.4rem;
    font-style: italic;
    color: #525252;
}
.footer{
    background-color: rgb(228, 233, 80);
    text-align: center;
}
h3{
    font-family: 'raleway';
    padding:1rem;
}
.recipes{
    margin-left: 120px;
}
.recipes h3{
    font-size:3rem;
}
.recipes .menu a{
    text-decoration: none;
    display: block;
    font-size:1.7rem;
    padding-bottom:.2rem;
    color:#525252;
    text-transform: uppercase;
}
 footer .copyright{
    background-color: #282828;
    color:white;
    font-size: 1.2rem;
    font-family: 'raleway';
    font-weight:50;
    padding:.7rem;
    margin-top: 3rem;
}
.footer .details{
    display: grid;
    grid-template-columns:repeat(auto-fill , minmax(300px , auto));
    padding-top: 1rem;
    
    
}
p{
    font-size:25px;
    font-weight: 200;
}
@media (min-width:768px){
    .main-content{
        display: grid;
        grid-template-columns:25% 50% 25%;
        grid-template-rows:repeat(5,auto);
        gap:.7rem;
    }
    .entry-title{
        grid-column:1/4;
    }
    .entry{
        grid-column:2/3;
        grid-row:2/5;
    }
    .info-extra{
        grid-column: 1/2;
        grid-row:2/6;
        display: grid;
        text-align: center;
    }
    .miniimg1{
        grid-column:3/4;
        grid-row:3/4;
        text-align: center;
    }
    .miniimg2{
        text-align: center;
        grid-column: 2/3;
        grid-row:5/6;
    }


}
@media (min-width:1515px){
    .footer .details
    {
        margin-left: 400px;
    }
    
}
.copyright{
    padding-bottom: 0;
    margin-bottom: 0;
}
.img1{
    position: relative;
    display: block;
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    -o-transform:translateX(-100%);
    opacity:0;
    animation: slideInLeftShow 1.5s ease-out forwards;
    -webkit-animation: slideInLeftShow 1.5s ease-out forwards;
    animation-delay:.4s;
}
.img1::after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(0,0,0,.3), transparent);
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    -o-transform:translateX(-100%);
    animation: shadowSlide 1.5s ease-out forwards;
    -webkit-animation: shadowSlide 1.5s ease-out forwards;
    animation-delay: .4s;
}

@keyframes slideInLeftShow{
    0%{
        transform: translateX(-100%) skewX(-10deg);
        -webkit-transform: translateX(-100%) skewX(-10deg);
        -moz-transform: translateX(-100%) skewX(-10deg);
        -ms-transform: translateX(-100%) skewX(-10deg);
        -o-transform: translateX(-100%) skewX(-10deg);
        opacity: 0;
}
100%{
    transform: translateX(0) skewX(0);
    -webkit-transform: translateX(0) skewX(0);
    -moz-transform: translateX(0) skewX(0);
    -ms-transform: translateX(0) skewX(0);
    -o-transform: translateX(0) skewX(0);
    opacity: 1;
}
}
@keyframes shadowSlide{
0%{
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    -o-transform:translateX(-100%);
}
100%{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}
.logo{
    display:block;
    transform: translateX(100%) rotate(10deg);
    -webkit-transform: translateX(100%) rotate(10deg);
    -moz-transform: translateX(100%) rotate(10deg);
    -ms-transform: translateX(100%) rotate(10deg);
    -o-transform: translateX(100%) rotate(10deg);
    opacity: 0;
    animation:slideInRightBounce 4s cubic-bezier(0.68, -.55, 0.265, 1.55) forwards;
    -webkit-animation:slideInRightBounce 4s cubic-bezier(0.68, -.55, 0.265, 1.55) forwards;
}
@keyframes slideInRightBounce{
    0%{
        transform: translateX(200px)rotate(15deg);
        -webkit-transform: translateX(200px)rotate(15deg);
        -moz-transform: translateX(200px)rotate(15deg);
        -ms-transform: translateX(200px)rotate(15deg);
        -o-transform: translateX(200px)rotate(15deg);
        opacity: 0;
}
  60%{
        transform: translateX(-10px)rotate(-2deg);
        -webkit-transform: translateX(-10px)rotate(-2deg);
        -moz-transform: translateX(-10px)rotate(-2deg);
        -ms-transform: translateX(-10px)rotate(-2deg);
        -o-transform: translateX(-10px)rotate(-2deg);
        opacity: 1;
}
  80%{
        transform: translateX(5px)rotate(1deg);
        -webkit-transform: translateX(5px)rotate(1deg);
        -moz-transform: translateX(5px)rotate(1deg);
        -ms-transform: translateX(5px)rotate(1deg);
        -o-transform: translateX(5px)rotate(1deg);
        opacity: 1;

}
  100%{
        transform: translateX(0)rotate(0);
        -webkit-transform: translateX(0)rotate(0);
        -moz-transform: translateX(0)rotate(0);
        -ms-transform: translateX(0)rotate(0);
        -o-transform: translateX(0)rotate(0);
        opacity: 1;
}
}
